.navbar-main-wrapper{  
   .contact-info{
      background-color: #272626;
      height: 40px;
      text-align: center;

      p{
         color: #fff;
      }
   }

   .navbar-info{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left-column{
         margin-left: 50px;

         img{
            width: 218px;
            height: 65px;
         }
      }   
   
      .right-column{
         display: flex;
         justify-content: space-between;
         align-items: center;
   
         .links-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: 100px;
   
            .link{
               margin-right: 20px;
   
               a{
                  text-decoration: none;
                  color: black;
                  font-size: 1.2em;
                  font-weight: 800;
                  transition: 0.3s ease-in-out;
   
                  &:hover{
                     color: #FFBE0B;
                  }
               }
            }
         }
   
         .login-signup-wrapper{
            margin-right: 20px;
            font-size: 1.2em;
            display: flex;
            justify-content: space-between;
            align-items: center;
         }         
      }
   }
}