$xiketic: #111226;
$space-cadet: #27283C;
$dark-blue-gray: #696B90;
$davys-gray: #535359;
$silver-metallic: #A1A2AC;

$tenne-tawny: #D05815;
$atomic-tangerine: #FB9457;
$apricot: #FFCCAE;
$cholcate-web: #D06A2E;
$raw-sienna: #D47841;